node_modules
*/node_modules
*/dist
*/build
**/logs
*.log
.git
.env
.env.local
ui/node_modules
ui/build
ui/coverage
mcp-service/node_modules
mcp-service/dist
agent-service/node_modules
agent-service/dist
*/tmp
meal-service/mealplanner
api-gateway/main
api-gateway/api-gateway